* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Roboto", sans-serif;
  --color: rgb(14, 15, 6);
  --color2: rgb(251, 249, 249);

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: rgb(6, 6, 6);
  font-size: 20px;
  background-image: url(temp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
label {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
  background: 0;
  width: 250px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.715);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card img{
  border-radius: 55px;
  height: 100px;
  width: 100px;
}
.card
{
  margin-right: 10%;
  margin-left: 60%;         
  width: 400px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.5);
  height: 550px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.197);
  padding: 20px;
  text-align: center;
}
            
.result {
  margin: 10px 0 50px;
  font-size: 26px;
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
  height: 1em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  width: 137px;
  margin: 10px 20px;
  padding: 10px 20px;
  background: none;
  border: 2px solid var(--color);
  border-radius: 5px;
  color: var(--color2);
  font-size: 20px;
  transition: color 0.3s, box-shadow 0.3s;
  box-shadow: 3px 3px 10px var(--color);
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  color: var(--color);
  box-shadow: 3px 3px 10px var(--color2);
}
